/* src\Updated_App.css */

.custom-toast {
  border-radius: 12px !important;
  padding: 12px 16px !important;
  border-width: 3px;
  background-color: #f1f1f1 !important;
  color: #000 !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.custom-toast-body {
  font-size: 14px;
}

.custom-toast-progress {
  background: linear-gradient(90deg, #000, #000) !important;
}

.Toastify__toast--success {
  border: 6px solid #F1890D;
}

.Toastify__toast--error {
  border: 6px solid #333;
}

.Toastify__toast--info {
  border: 6px solid #CCC;
}

.Toastify__toast--warning {
  border: 6px solid #DDD;
}

.Dashboard {
  padding: auto;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.denied {
  width: 128px;
  height: 128px;
}
