/* src\Updated_App.css */

.custom-toast {
  border-radius: 12px !important;
  padding: 12px 16px !important;
  background-color: #ffffff !important;
  color: #333 !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
}

.custom-toast-body {
  font-size: 14px;
}

.custom-toast-progress {
  background: linear-gradient(90deg, #ff9312, #ff9312) !important;
}

.Toastify__toast--success {
  border-left: 6px solid #28a745;
}

.Toastify__toast--error {
  border-left: 6px solid #ff9312;
}

.Toastify__toast--info {
  border-left: 6px solid #007bff;
}

.Toastify__toast--warning {
  border-left: 6px solid #ffc107;
}
