/* src\Updated_App.css */

.custom-toast {
  border-radius: 12px !important;
  padding: 12px 16px !important;
  border-width: 3px;
  background-color: #f1890d !important;
  color: #000 !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: "Archivo", sans-serif;
  min-width: 180px !important; /* 👈 Makes the container small but not too tight */
  max-width: 530px !important;
  justify-content: center;
}

.custom-toast-body {
  font-size: 14px;
}

.custom-toast-progress {
  background: linear-gradient(90deg, #000, #000) !important;
}

.Toastify__toast--success {
  border: 1px solid #ccc !important;
}

.Toastify__toast--error {
  border: 1px solid #ccc;
  color: rgb(194, 19, 19) !important;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
}

.Toastify__toast--info {
  border: 1px solid #ccc;
}

.Toastify__toast--warning {
  border: 1px solid #ccc;
}

.custom-toast .Toastify__toast-icon {
  display: none !important;
}

.Dashboard {
  padding: auto;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.denied {
  width: 128px;
  height: 128px;
}
