/* src\Updated_App.css */

.custom-toast {
  border-radius: 12px !important;
  padding: 12px 16px !important;
  border-width: 3px;
  background-color: #f1890d !important;
  color: #000 !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-family: "Archivo", sans-serif;
  min-width: 180px !important; /* 👈 Makes the container small but not too tight */
  max-width: 530px !important;
  justify-content: center;
}

.custom-toast-body {
  font-size: 14px;
}

.custom-toast-progress {
  background: linear-gradient(90deg, #000, #000) !important;
}

.Toastify__toast--success {
  border: 1px solid #ccc !important;
}

.Toastify__toast--error {
  border: 1px solid #ccc;
  color: rgb(194, 19, 19) !important;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
}

.Toastify__toast--info {
  border: 1px solid #ccc;
}

.Toastify__toast--warning {
  border: 1px solid #ccc;
}

.custom-toast .Toastify__toast-icon {
  display: none !important;
}

.Dashboard {
  padding: auto;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.notfound {
  padding: auto;
  font-size: 80px;
  color: #f1890d;
}

.denied {
  width: 128px;
  height: 128px;
}

.popup-footer {
  position: sticky;
  bottom: 0;
  border-radius: 12px;
  /* background: white; */
  background-color: rgba(209, 209, 209, 0.4);
  padding: 10px 16px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.expandable-content {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.collapsed-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.timesheet-approve {
  padding: 8px 16px;
  background-color: #b6f0b6;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.timesheet-reject {
  padding: 8px 16px;
  background-color: #f3c8b6;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.button-container .timesheet-approve {
  background-color: rgb(222, 222, 222);
  color: black;
  font-weight: 500;
}

.button-container .timesheet-approve:hover {
  background-color: rgb(147, 148, 147);
  font-weight: 500;
}

.button-container .timesheet-reject {
  background-color: rgb(222, 222, 222);
  font-weight: 500;
  color: black;
}

.button-container .timesheet-reject:hover {
  background-color: rgb(147, 148, 147);
  font-weight: 500;
}

.button-container .timesheet-approve:disabled,
.button-container .timesheet-reject:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button-container .timesheet-approve:disabled:hover,
.button-container .timesheet-reject:disabled:hover {
  background-color: rgb(222, 222, 222); /* or same as non-hover */
}

.btn-leave {
  background-color: #d6d6d6;
  color: #000;
  padding: 6px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  display: inline-flex;
  gap: 6px;
  /* margin-left: 380px; */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.leaves-balance-container {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;
  border-radius: 5px;
}

.leaves-balance-container td {
  padding: 8px;
}

.leaves-balance-container input {
  padding: 4px;
}

.leaves-table input {
  padding: 4px;
}

.leaves-table table input[type="number"] {
  padding: 4px !important;
}


.toggle-switch {
  position: relative;
  width: 50px;
  height: 24px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.toggle-slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* When checked */
.toggle-input:checked + .toggle-slider {
  background-color: #e2a23a;
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(26px);
}
