/* src/components/Breadcrumbs.css */
/* .breadcrumbs {
    display: flex;
    list-style: none;
    padding: 10px;
  }
  
  .breadcrumbs li {
    margin-right: 10px;
  }
  
  .breadcrumbs li a {
    text-decoration: none;
    color: #007bff;
  }
  
  .breadcrumbs li a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs li::after {
    content: '>';
    margin-left: 10px;
  }
  
  .breadcrumbs li:last-child::after {
    content: '';
  }
   */

.breadcrumbs-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.back-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
}

.breadcrumbs {
  font-size: 14px;
}

.breadcrumb-link {
  color: #007bff;
  cursor: pointer;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}
